<mat-card>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="outline">
      <mat-label>E-mail</mat-label>
      <input matInput id="email" type="email" formControlName="email" />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label >Password</mat-label>
      <input matInput id="password" type="password" formControlName="password" />
    </mat-form-field>
    <p>
      <button mat-raised-button color="primary" type="submit">Login</button>
    </p>
  </form>
</mat-card>
